@CHARSET "ISO-8859-1";

body {
	padding-top: 20px;
	padding-bottom: 60px;
}

/* Custom container */
.container {
	margin: 0 auto;
	max-width: 1000px;
}

.container>hr {
	margin: 60px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
	margin: 0px 0;
	text-align: center;
}

.jumbotron h1 {
	font-size: 100px;
	line-height: 1;
}

.jumbotron .lead {
	font-size: 24px;
	line-height: 1.25;
}

.jumbotron .btn {
	font-size: 21px;
	padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
	margin: 60px 0;
}

.marketing p+h4 {
	margin-top: 28px;
}

/* Customize the navbar links to be fill the entire space of the .navbar */
.navbar .navbar-inner {
	padding: 0;
}

.navbar .nav {
	margin: 0;
}

.navbar .nav li {
	display: table-cell;
	width: 1%;
	float: none;
}

.navbar .nav li a {
	font-weight: bold;
	text-align: center;
	border-left: 1px solid rgba(255, 255, 255, .75);
	border-right: 1px solid rgba(0, 0, 0, .1);
}

.navbar .nav li:first-child a {
	border-left: 0;
	border-radius: 3px 0 0 3px;
}

.navbar .nav li:last-child a {
	border-right: 0;
	border-radius: 0 3px 3px 0;
}

.website_hide {
	position: absolute;
	height: 60px;
	width: 980px;
	z-index: 10;
	border-radius: 4px;
	color: black;
	text-align: right;
	margin-top: 14px;
	line-height: 98px;
	margin-top: 0px;
}

#summary {
	text-align: left;
	color: black;
	display: block;
}

.summary_float {
	position: fixed;
	top: 0px;
	width: 949px;
	z-index: 1000;
}

/*....genie...............*/
.genie-body {
	margin: 0px;
	padding: 0px;
	background: #f8f8f8;
}

.genie-logo {
	margin: 0px;
	float: left;
	background: url("img/menutop-border.png") no-repeat scroll 100% 0
		transparent;
	padding-right: 10px;
	position: relative;
	cursor: pointer;
}

.genie-logo a.genie-iconlogo {
	position: absolute;
	cursor: pointer;
	top:-10px;
}

.genie-h3 {
	margin: 0px;
}

.genie-width {
	width: 968px !important;
	margin: 0px auto;
}

.genie-container {
	background: url("img/headbg1.png") repeat-x scroll 0 0 transparent;
	padding-bottom: 0px;
}
.genie-srchbg
{
background:#03856e;;
}
.genie-price
{
padding-top:20px;
}

.genie-navbar {
	float: left;
	width: 640px;
	margin-left: 0px;
	margin-bottom:0px;
}

.genie-navbar .genie-nav li a {
	border-left: 0px;
	border-right: 0px;
}

.genie-navinner {
	background: none;
	box-shadow: none;
	border: 0px;
	filter:none!important;
}

.genie-nav {
	float: none;
	width: 640px;
}

.genie-clear {
	clear: both;
}

.genie-nav a {
	padding: 15px 33px 14px!important;
	margin-top: 0px !important;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #fff !important;
	font-style: normal;
	text-shadow: 0px 2px #000 !important;
	text-transform: uppercase;
	font-weight: normal !important;
}

:root .genie-nav a {
  padding: 15px 31px \0/IE9 !important;
}
	

.genie-navbar .genie-nav li:hover a.genie-hov {
	color: #e3ae22 !important;
}

.genie-nav  a.active{
	background: none ;
	box-shadow: none !important;
	border: 0px;
	color: #e3ae22 !important;
}

.genie-nav .genie-home a {
	/*background: url("img/home_icon.png") no-repeat scroll 50% 0 transparent!important;*/
	/*padding-left: 0px !important;
	padding-right: 0px !important;*/
}

.genie-navbar .genie-nav li {
	background: url("img/menutop-border.png") no-repeat scroll 100% 0
		transparent;
		width:auto!important;
		float:left;
}

/*
.genie-nav .genie-coup a
{
	background: url("img/sci_icon.png") no-repeat scroll 50% 0  transparent;
}

.genie-nav .genie-search a
{
	background: url("img/serc_icon.png") no-repeat scroll 50% 0 transparent;
}
*/
.genie-nav .genie-all a {
	background: url("img/menudown.png") no-repeat scroll 92% 24px
		transparent;
}

.genie-nav .genie-all {
	position: relative;
}

.genie-child {
	background: #085394;
	margin: 0px;
	margin-top: -3px;
	position: absolute;
	z-index: 999999;
	display: none;
	border-radius: 0px 0px 5px 5px;
	padding-bottom: 8px;
}

.genie-nav  li.genie-all:hover .genie-child {
	display: block;
}

.genie-child li {
	float: none !important;
	border: none !important;
	display: block !important;
	width: auto !important;
	line-height: 17px !important;
	background: url("img/lamp-icon.png") no-repeat scroll 8px 0px
		transparent !important;
	padding-left: 13px;
	padding-bottom: 13px;
	
}

.genie-child li:hover {
	background: url("img/lampicon-hover.png") no-repeat scroll 8px 0px
		transparent !important;
		
}

.genie-child li:hover a {
	text-decoration: none;
	color: #e3ae22 !important;
}

.genie-child li a {
	color: #fff !important;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	padding: 0px 40px 0px 25px !important;
	text-transform: inherit!important;
	font-weight: normal !important;
	font-style: normal;
	background: none !important;
	*text-transform: capitalize!important;
}

.genie-frmtext h1 {
	font-size: 35px;
	color: #fff;
	font-style: normal;
	text-transform: uppercase;
	margin: 0px !important;
}

.genie-frmtext p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #fff !important;
	font-style: normal;
}

.genie-frmdiv {
	width: 906px;
	padding: 8px;
	margin: 0px !important;
	text-align: left;
	border: 1px solid #fff;
}

.genie-back {
	background: #e3ae22;
	padding: 5px;
	width: 932px;
	margin: 0px !important;
}

.genie-but {
	background: url("img/gobutton.png") no-repeat scroll 0 0 transparent
		!important;
	border: 0px !important;
	box-shadow: none !important;
	text-shadow: none !important;
	width: 119px;
	height: 50px;
	position: absolute;
	right: 0px;
	top: 17px;
}

.genie-frmdiv span.gen-srch2,.genie-but {
	font-size: 30px !important;
	color: #fff;
	font-style: normal;
	text-transform: lowercase;
	margin: 0px !important;
	vertical-align: middle;
}

.genie-frmdiv span {
	float: left;
	line-height: 54px;
	padding: 0px 10px 0px 5px;
}

.genie-form {
	position: relative;
	margin: 0px !important;
}

.genie-inputbg {
	background: #fff;
	padding: 5px;
	float: left;
	width: 790px;
	border-radius: 5px;
	
}

.genie-inputbg input {
	width: 380px !important;
	background: #fff;
	color: #333;
	float: left;
	border-right: 1px dotted #ccc;
	box-shadow: none !important;
	border-left: 0px;
	border-top: 0px dotted #ccc;
	border-bottom: 0px dotted #ccc;
	color: #bbb;
	font-family: Arial;
	font-style: italic;
	font-size: 16px !important;
	line-height:39px;!important;
}

.genie-inputbg .genie-select {
	width: 325px !important;
	float: left;
	color: #333;
	border: none !important;
}

.genie-border {
	border-right: 1px dotted #ccc;
	float: left;
}

.genie-footmenu {
	float: left;
}

.genie-footmenu ul {
	list-style: none;
}

.genie-footmenu ul li {
	float: left;
	padding-right: 20px;
}

.genie-footmenu ul li a,.genie-copyrght span {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #999;
	font-style: normal;
}

.genie-footmenu ul li:hover a {
	color: #e3ae22;
	text-decoration: none;
}

.genie-footmenu ul li a.active {
	color: #e3ae22;
}

.genie-copyrght {
	float: right;
	width:320px;
}

.genie-copyrght span a {
	color: #3a8fcf;
}

.genie-leftbg {
	background: url("img/genie-withno.png") no-repeat scroll 0 0 transparent;
	width: 219px;
	height: 312px;
	margin-top: -40px;
	float: left;
}

.genie-rghtbg {
	background: url("img/boytext.png") no-repeat scroll 0 0 transparent;
	width: 167px;
	height: 194px;
	margin-top: 78px;
	margin-left: 27px;
	float: left;
}

.genie-serch span {
	font-size: 30px;
	color: #000;
	font-style: normal;
	text-transform: uppercase;
	display:inline;
	*display : inline-block;
	line-height:30px;
}


.genie-serch {
	margin-left: 108px;
	margin-bottom: 15px;
}

.genie-serch .genie-img1 {
	background: url("img/gen-left.png") no-repeat scroll 0px 5px
		transparent;
	padding-left: 40px;
}

.genie-serch .genie-img2 {
	background: url("img/gen-rght.png") no-repeat scroll 11px 5px
		transparent;
	padding-left: 40px;
}

.genie-midtext {
	float: left;
	padding-top: 19px;
	width: 555px;
}

.genie-midtext ul {
	list-style: none;
	margin: 0px !important;
}

.genie-midtext li {
	line-height: 19px;
	padding-bottom: 5px;
}

.genie-foot {
	background: url("img/footbord.png") repeat-x scroll 0px 0px transparent;
	padding-top: 8px;
}

.genie-select {
	position: relative;
}

.genie-selicon {
	position: absolute;
	height: 12px;
	width: 14px;
	right: 20px;
	top: 13px;
	z-index: 100;
	cursor: pointer;
}

.genie-select  ul#genie-chldcat .discat {
	display: block !important;
}

.closed{
	border-width: 0px !important;
}

.genie-select ul#genie-chldcat {
	list-style: none;
	background-color: #fff;
	position: absolute;
	z-index: 10;
	margin-left: 0px;
	padding-left: 8px;
	*padding-left: 4px;
	border-radius: 5px;
	border-color: #E3AE22;
	border-width: 2px;
	border-style: solid;
}





.genie-select  ul#genie-chldcat li {
	line-height: 26px;
	padding-bottom: 8px;
	*padding-bottom: 4px;
	padding-top:6px;
	float: left;
	font-size: 17px;
	
}

.genie-select ul#genie-chldcat .genie-first {
	font-size: 17px;
	cursor: pointer;
	color: #000;
	background: #fff;
	padding-top: 9px;
	clear: both !important;
	*float:none;
}
.genie-catli,.genie-select {
	cursor: pointer;
}

.genie-catli span {
	border: 0px !important;
	box-shadow: none !important;
	text-shadow: none !important;
}

.genie-lefbg {
	background: url("img/leftbg.png") no-repeat scroll 0px 0px transparent;
	border: 0 none;
	display: block;
	padding: 0px 0px 0px 0px !important;
	float: left !important;
	line-height: 32px !important;
	height: 34px;
	width: 7px;
}

.genie-mdbg {
	background: url("img/midbg.png") repeat-x scroll 0px 0px transparent;
	border: 0 none;
	height: 33px;
	white-space: nowrap;
	line-height: 32px !important;
	font-size: 14px;
	float: left !important;
	cursor: pointer;
	
}

.genie-rgtbg {
	background: url("img/rghtbg.png") no-repeat scroll 0px 0px transparent;
	border: 0 none;
	display: block;
	padding: 0px 0px !important;
	float: left !important;
	line-height: 32px !important;
	height: 33px;
	width: 33px;
}

.genie-select  ul#genie-chldcat li.discat .genie-lefbg {
	background: url("img/leftbg1.png") no-repeat scroll 0px 0px transparent;
}

.genie-select  ul#genie-chldcat li.discat .genie-mdbg {
	background: url("img/midbg2.png") repeat-x scroll 0px 0px transparent;
}

.genie-select  ul#genie-chldcat li.discat .genie-rgtbg {
	background: url("img/rghtbg1.png") no-repeat scroll 0px 0px transparent;
}

.genie-socialbut {
	text-align: center;
	width: 200px;
	margin: 0px auto;
	padding-top: 10px;
	padding-bottom:5px;
}



.genie-left,.genie-fbhead {
	float: left;
}

.genie-fbhead {
	padding: 11px 0px 0px 8px;
	cursor: pointer;
}

.genie-form2 {
	margin: 0px;

}
.genie-texthead h1
{
font-size:35px;
font-style: normal;
	text-transform: uppercase;
	color: #666;
	margin: 0px;
border-bottom: 2px solid #ccc;
}
.genie-text
{
padding-top:50px;

}
.genie-textpage
{
background:#eee;
}
.genie-textleft
{
float:left;
width:220px;
margin-right:0px;

}
.genie-textleft ul
{
list-style:none;
margin: 0px;
border-right: 0px solid #ccc;
}
.genie-textleft  li 
{
background: url("img/leftbord.png") no-repeat scroll 0px 48px transparent;
line-height: 20px;
padding-left: 0px;
}

.genie-textleft  li a,.genie-pararghtxt p,.genie-listpara p,.genie-listpara ul li h1,.genie-listpara ul li p,p.genie-pbotext
{
font-family: Arial, Helvetica, sans-serif;
font-size:14px;
font-style: normal;

	color: #333;
	}
	
.genie-textleft  li a
{

padding: 15px 23px;
display: block;
	text-transform: uppercase;
}
.genie-textleft  li:hover a,.genie-textleft li a.active
{
text-decoration: none;
color: #e3ae22;
background: url("img/lefticon.png") no-repeat scroll 175px 21px transparent;
}	
.genie-textrght
{
float: left;
width: 732px;
background: #fff;
border-left: 1px solid #ccc;
padding:25px 8px 100px 7px;
}	
.genie-rgthead 
{
padding-bottom: 12px;
}	
.genie-rgthead  .gen-rghthdtext,.genie-rgthead  span
{
font-size:30px;
font-style: normal;
	text-transform: uppercase;
	color: #666;
}	
.genie-rgthead  span
{
display:inline;
*display : inline-block;
	line-height:30px;
	}
.genie-rgthead .genie-icon1 {
	background: url("img/gen-left.png") no-repeat scroll 0px 5px
		transparent;
	padding-left: 40px;
}

.genie-rgthead .genie-icon2 {
	background: url("img/gen-rght.png") no-repeat scroll 11px 5px
		transparent;
	padding-left: 40px;
}
.genie-frmtext{
	width: 942px;
}

.genie-paradivrght
{
padding-left:30px;
}
.genie-pararghtxt p
{
	
	line-height:24px;
	padding-bottom:15px;
	margin:0px;
}
p.genie-pbotext
{
	line-height:24px;
	padding-top:10px;
	margin:0px;
}
p.genie-pbotext span
{
color:#085394;
}
p.genie-plist
{
	line-height:25px;

padding-bottom: 5px;
}
.genie-listpara ul
{
list-style:none;
margin:0px;

}

.genie-listpara ul li
{
background: url("img/iconlist.png") no-repeat scroll 0px 5px transparent;
padding-left: 15px;
padding-bottom: 10px;
		
}
.genie-listpara p,.genie-listpara ul li h1,.genie-listpara ul li p
{
text-transform: inherit;
	margin:0px;
}
.genie-listpara ul li h1
{
color:#085394;
margin:0px;
line-height:20px;
}

.genie-butimp
{
margin-top:10px;
}