@CHARSET "ISO-8859-1";

body {
	padding-top: 20px;
	padding-bottom: 60px;
}

/* Custom container */
.container {
	margin: 0 auto;
	max-width: 1000px;
}

.container>hr {
	margin: 60px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
	margin: 0px 0;
	text-align: center;
}

.jumbotron h1 {
	font-size: 100px;
	line-height: 1;
}

.jumbotron .lead {
	font-size: 24px;
	line-height: 1.25;
}

.jumbotron .btn {
	font-size: 21px;
	padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
	margin: 60px 0;
}

.marketing p+h4 {
	margin-top: 28px;
}

/* Customize the navbar links to be fill the entire space of the .navbar */
.navbar .navbar-inner {
	padding: 0;
}

.navbar .nav {
	margin: 0;
}

.navbar .nav li {
	display: table-cell;
	width: 1%;
	float: none;
}

.navbar .nav li a {
	font-weight: bold;
	text-align: center;
	border-left: 1px solid rgba(255, 255, 255, .75);
	border-right: 1px solid rgba(0, 0, 0, .1);
}

.navbar .nav li:first-child a {
	border-left: 0;
	border-radius: 3px 0 0 3px;
}

.navbar .nav li:last-child a {
	border-right: 0;
	border-radius: 0 3px 3px 0;
}

.website_hide {
	position: absolute;
	height: 60px;
	width: 980px;
	z-index: 10;
	border-radius: 4px;
	color: black;
	text-align: right;
	margin-top: 14px;
	line-height: 98px;
	margin-top: 0px;
}

#summary {
	text-align: left;
	color: black;
	display: block;
}

.summary_float {
	position: fixed;
	top: 0px;
	width: 949px;
	z-index: 1000;
}



/*....genie...............*/

.genie-body
{
	margin:0px;
	padding:0px;
}
.genie-logo
{
	margin:0px;
	float:left;
	background: url("img/menutop-border.png") no-repeat scroll 100% 0 transparent;
	padding-right:10px;
	position:relative;
}
.genie-logo a
{
position:absolute;
}
.genie-h3
{
padding-left:60px;
margin:0px;
}
.genie-width
{
	width:968px!important;
	margin:0px auto;
}
.genie-container
{
 background: url("img/headbg.png") repeat-x scroll 0 0 transparent;	
 padding-bottom:33px;
 
}

.genie-navbar
{
	float:left;
	width:640px;
	margin-left:0px;
	
}

.genie-navbar .genie-nav li a{
	border-left:0px;
	border-right:0px;
}

.genie-navinner
{
	background: none;
	box-shadow: none;
	border:0px;
}
.genie-nav
{
	float:none;
	 width: 640px;
}

.genie-clear
{
	clear: both;
}


.genie-nav a
{
	padding: 15px 10px!important;
margin-top: 0px!important;

	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #fff!important;
	font-style:normal;
	text-shadow: 0px 2px #000!important;
	text-transform: uppercase;
}
.genie-nav .active a
{
	background:none!important;
	box-shadow: none!important;
	border:0px;
	color:#e3ae22!important;
	
}
.genie-nav .genie-home a
{
	/*background: url("img/home_icon.png") no-repeat scroll 50% 0 transparent!important;*/
	padding-left:0px!important;
	padding-right:0px!important;
}

.genie-navbar .genie-nav li 
{
	background: url("img/menutop-border.png") no-repeat scroll 100% 0 transparent;
}

/*
.genie-nav .genie-coup a
{
	background: url("img/sci_icon.png") no-repeat scroll 50% 0  transparent;
}

.genie-nav .genie-search a
{
	background: url("img/serc_icon.png") no-repeat scroll 50% 0 transparent;
}

.genie-nav .genie-all a
{
	background: url("img/genie_icon.png") no-repeat scroll 50% 0  transparent;
	
}
*/
.genie-frmtext h1
{
	
	font-size: 65px;
	color: #fff;
	font-style:normal;
	text-transform: uppercase;
	margin:0px!important;
}

.genie-frmtext p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #fff!important;
	font-style:normal;
}

.genie-frmdiv
{
width: 906px;
padding: 8px;
margin: 0px!important;
text-align: left;
border: 1px solid #fff;
}

.genie-back
{
background: #e3ae22;
padding: 5px;
width: 932px;
margin: 0px!important;
}

.genie-but
{
	background: url("img/gobutton.png") no-repeat scroll 0 0  transparent!important;
border: 0px!important;
box-shadow: none!important;
text-shadow: none!important;
width:119px;
height:50px;
position: absolute;
right:0px;
top:17px;
}

.genie-frmdiv span,.genie-but
{
	font-size:48px!important;
	color: #fff;
	font-style:normal;
	text-transform: lowercase;
	margin:0px!important;
	vertical-align: middle;
}
.genie-frmdiv span
{
	float: left;
line-height: 54px;
padding: 0px 10px 0px 5px;
}
.genie-form{
	position: relative;
}

.genie-inputbg
{
	background: #fff;
padding: 5px;
float: left;
width: 790px;
border-radius: 5px;
	
}

.genie-inputbg input{
	width:380px!important;
	background: #fff;
	color:#333;
	float:left;
	border-right:1px dotted #ccc;
	box-shadow:none!important;
	border-left:0px;
		border-top:0px dotted #ccc;
	border-bottom:0px dotted #ccc;
}

.genie-inputbg select{
	width:325px!important;
	background: #fff;
	float:left;
	color:#333;
	border:none!important;
	
}

.genie-border
{
	border-right:1px dotted #ccc;
	float:left;
	}
.genie-footmenu
{
float:left;
}	
.genie-footmenu ul
{
list-style:none;
}
.genie-footmenu ul li
{
float:left;
padding-right:20px;
}

.genie-footmenu ul li a,.genie-copyrght p
{
font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #999;
	font-style:normal;
}
.genie-footmenu ul li.active a
{
color:#e3ae22;
}
.genie-copyrght 
{
float:right;
}
.genie-copyrght p a
{
color:#3a8fcf;
}
.genie-leftbg
{
background: url("img/genie-withno.png") no-repeat scroll 0 0 transparent!important;
width: 219px;
height: 320px;
margin-top:-55px;
float:left;
}
.genie-serch span
{

	font-size:36px;
	color: #000;
	font-style:normal;
	text-transform: uppercase;
}
.genie-serch .genie-img1
{
background: url("img/gen-left.png") no-repeat scroll 0 0 transparent!important;
width:30px;
height:19px;
}
.genie-serch .genie-img2
{
background: url("img/gen-rght.png") no-repeat scroll 0 0 transparent!important;
width:30px;
height:19px;
}