@CHARSET "ISO-8859-1";

body {
	padding-top: 20px;
	padding-bottom: 60px;
}

/* Custom container */
.container {
	margin: 0 auto;
	max-width: 1000px;
}

.container>hr {
	margin: 60px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
	margin: 0px 0;
	text-align: center;
}

.jumbotron h1 {
	font-size: 100px;
	line-height: 1;
}

.jumbotron .lead {
	font-size: 24px;
	line-height: 1.25;
}

.jumbotron .btn {
	font-size: 21px;
	padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
	margin: 60px 0;
}

.marketing p+h4 {
	margin-top: 28px;
}

/* Customize the navbar links to be fill the entire space of the .navbar */
.navbar .navbar-inner {
	padding: 0;
}

.navbar .nav {
	margin: 0;
}

.navbar .nav li {
	display: table-cell;
	width: 1%;
	float: none;
}

.navbar .nav li a {
	font-weight: bold;
	text-align: center;
	border-left: 1px solid rgba(255, 255, 255, .75);
	border-right: 1px solid rgba(0, 0, 0, .1);
}

.navbar .nav li:first-child a {
	border-left: 0;
	border-radius: 3px 0 0 3px;
}

.navbar .nav li:last-child a {
	border-right: 0;
	border-radius: 0 3px 3px 0;
}

.website_hide {
	position: absolute;
	height: 60px;
	width: 980px;
	z-index: 10;
	border-radius: 4px;
	color: black;
	text-align: right;
	margin-top: 14px;
	line-height: 98px;
	margin-top: 0px;
}

#summary {
	text-align: left;
	color: black;
	display: block;
}

.summary_float {
	position: fixed;
	top: 0px;
	width: 949px;
	z-index: 1000;
}



/*....genie...............*/

.genie-body
{
	margin:0px;
	padding:0px;
}
.genie-logo
{
	margin:0px;
	float:left;
	background: url("img/bord.png") no-repeat scroll 100% 0 transparent;
}

.genie-head
{
	width:968px;
	margin:0px auto;
}
.genie-container
{
 background: url("img/bluebg.png") repeat-x scroll 0 0 transparent;	
 
}

.genie-navbar
{
	float:left;
	width:640px;
	margin-left:0px;
	
}

.genie-navbar .genie-nav li a{
	border-left:0px;
	border-right:0px;
}

.genie-navinner
{
	background: none;
	box-shadow: none;
	border:0px;
}
.genie-nav
{
	float:none;
}

.genie-clear
{
	clear: both;
}

.genie-nav .genie-home
{
	background: url("img/home_icon.png") no-repeat scroll 56px 0 transparent;
}

.genie-nav a
{
	padding-top:25px!important;
	margin-top: 20px;
margin-bottom: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #fff!important;
	font-style:normal;
	text-shadow: 0px 2px #000!important;
	text-transform: uppercase;
}
.genie-nav .active a
{
	background:url("img/home_icon.png") no-repeat scroll 56px 0 transparent!important;
	box-shadow: none!important;
	border:0px;
	color:#e3ae22!important;
}

.genie-navbar .genie-nav li 
{
	background: url("img/bord.png") no-repeat scroll 100% 0 transparent;
}
.genie-nav .genie-coup a
{
	background: url("img/sci_icon.png") no-repeat scroll 56px 0 transparent;
}

.genie-nav .genie-search a
{
	background: url("img/serc_icon.png") no-repeat scroll 56px 0 transparent;
}

.genie-nav .genie-all a
{
	background: url("img/genie_icon.png") no-repeat scroll 56px 0 transparent;
}

