.shortbox { /* color: #AEAEAE !important; */
	
	font-size: 14px !important;
	margin-bottom: 0px !important;
	border: 1px solid #ff940a !important;
	border-right: 6px solid #ff940a !important;
}

.shortbox li.autocomplete_icon {
	background-image: url("../images/autocomplete/shortboxleftimg.png")
		!important;
	background-repeat: no-repeat !important;
	background-position: center center !important;
	float: left;
	height: 26px;
	width: 19px;
	padding-left: 6px;
}

.longbox {
	border: 1px solid #E64135 !important;
	border-right: 6px solid #E64135 !important;
	height: 32px !important;
	width: 570px !important;
	/* color: #AEAEAE !important; */
	
	font-size: 14px !important;
}

.longbox li.autocomplete_icon {
	background: url("../images/autocomplete/shortboxleftimg.png") no-repeat
		scroll center center #FDFFFF !important;
	height: 32px;
	float: left;
	width: 19px;
	padding-left: 6px;
}

.shortbox:focus {
	box-shadow: none !important;
	color: #AEAEAE !important;
	
	font-size: 14px !important;
}

/*
.processbar {
	background: url("../images/autocomplete/progress.png") no-repeat scroll
		260px center #fff !important
}
*/
.processbar li.autocomplete_icon {
	background-image: url("../images/autocomplete/loading.gif") !important;
}

.longprocessbar li.autocomplete_icon {
	background-image: url("../images/autocomplete/loading.gif") !important;
}
/*
.leftimage {
	background: url("../images/autocomplete/shortboxleftimg.png") no-repeat scroll 6px 11px transparent !important;
}
*/
.bigleftimage {
	background: url("../images/autocomplete/shortboxleftimg.png") no-repeat
		scroll 5px 17px #FDFFFF !important;
	height: 32px !important;
	left: 1px;
	padding-left: 18px !important;
	position: absolute;
	top: 2px;
}

.bigbox {
	position: relative;
}

.bigdropbox {
	display: block !important;
	position: absolute;
	z-index: 1;
	/*padding-top:10px;
    padding-bottom:10px;*/
}

#suggestions-auto-com {
	background-color: #FFFFFF !important;
	z-index: 1 !important;
	display: none;
	margin-top: 1px !important;
}

.shortdropdown { /* border-top: 1px solid #ff940a !important; */
	border-left: 1px solid #ff940a !important;
	border-right: 1px solid #ff940a !important;
	border-bottom: 15px solid #ff940a !important;
	-webkit-border-radius: 0 0 2px 2px !important;
	-moz-border-radius: 0 0 2px 2px !important;
	border-radius: 0 0 2px 2px !important;
}

.longdropdown { /* border-top: 1px solid #e64135 !important; */
	border-left: 1px solid #e64135 !important;
	border-right: 1px solid #e64135 !important;
	border-bottom: 15px solid #e64135 !important;
	-webkit-border-radius: 0 0 2px 2px !important;
	-moz-border-radius: 0 0 2px 2px !important;
	border-radius: 0 0 2px 2px !important;
}

#suggestions-auto-com img,#suggestions-auto-com div,#suggestions-auto-com span,#suggestions-auto-com a
	{
	position: relative !important;
	/*
	right: 0px !important;
	left: 0px !important;
	*/
}

#suggestions-auto-com .box {
	cursor: pointer;
	padding-left: 10px;
	height: auto;
}

#suggestions-auto-com .box-empty {
	height: 29px !important;
}

#suggestions-auto-com .addbox {
	height: 28px;
	margin: 0px;
}

#suggestions-auto-com .box:hover,#suggestions-auto-com div.active {
	background-color: #f4f4f1;
}

#suggestions-auto-com .box:hover .text,#suggestions-auto-com div.active .text,#suggestions-auto-com .box:hover .text-addnew
	{
	color: #648bd8;
}

#suggestions-auto-com .img { /*margin-right: 20px;*/
	float: left;
	left: 0px;
}

#suggestions-auto-com .textbox {
	float: left;
	width: 85%;
	text-align: left;
	padding-top: 8px !important;
}

#suggestions-auto-com .left-textbox {
	float: left;
	width: 100%;
	text-align: left;
	padding-top: 8px !important;
}

#suggestions-auto-com .left-textbox .text {
	float: left;
	display: inline;
	clear: none;
	
	font-size: 12px;
	color: #333;
	margin: 0px !important;
	padding-left: 10px !important;
	line-height: 10px;
}

#suggestions-auto-com .text-addnew {
	float: left;
	display: inline;
	clear: none;
	
	font-size: 12px;
	font-weight: bold;
	color: #777;
	margin: 0px !important;
	padding-left: 0px !important;
	line-height: 15px;
}

#suggestions-auto-com .text-value {
	float: right;
	display: inline;
	clear: none;
	
	font-size: 12px;
	color: #648bd8;
	margin: 0px !important;
	padding-right: 10px !important;
	line-height: 15px;
}

#suggestions-auto-com .textbox .text {
	
	font-size: 12px;
	color: #333;
	font-weight: bold;
	display: block;
	clear: both;
	margin: 0px !important;
	padding-left: 10px !important;
	line-height: 15px;
}

#suggestions-auto-com .textbox .longtext {
	
	font-size: 9px;
	color: #8b8b8b;
	font-weight: bold;
	display: block;
	clear: both;
	margin: 0px !important;
	padding-left: 10px !important;
	line-height: 20px;
}

.overdivstyle {
	background-color: #f4f4f1 !important;
}

.overdivstylespan {
	color: #648bd8 !important;
}

.formatdata {
	border-bottom: 1px solid #EBEBEB;
}

.formatdata-add {
	border-top: 1px solid #ebebeb;
}

.up_box {
	text-align: center;
	line-height: 24px;
	font-weight: bold;
	font-size: 10px;
	
	background-color: white;
}

.up_box span {
	background-image: url("../images/autocomplete/up.png");
	background-repeat: no-repeat;
	background-position: right center;
	padding-right: 20px;
}

.noitem_facebook {
	text-align: left !important;
	padding-left: 9px;
}

.down_box,.noitem {
	text-align: center;
	line-height: 24px;
	font-weight: bold;
	font-size: 10px;
	
	background-color: white;
}

.fb_noitem {
	text-align: left;
	line-height: 24px;
	font-weight: bold;
	font-size: 10px;
	
	background-color: white;
	padding-left: 9px;
}

.down_box_short,.noitem_short { /*
	border-top: 1px solid #FF940A;
	border-bottom: 1px solid #FF940A;
	*/
	
}

.down_box_long,.noitem_long {
	border-top: 1px solid #e64135;
	border-bottom: 1px solid #e64135;
}

.up_box_short {
	border-bottom: 1px solid #FF940A;
}

.up_box_long {
	border-bottom: 1px solid #e64135;
}

.down_box span {
	background-image: url("../images/autocomplete/down.png");
	background-repeat: no-repeat;
	background-position: right center;
	padding-right: 20px;
}

.noitem_facebook {
	text-align: left !important;
	padding-left: 9px;
}

.auto_facebook_loading {
	background-image: url("../images/autocomplete/fb_loading.gif");
	background-repeat: no-repeat;
	background-position: right center;
	padding-right: 42px;
	float: right;
}

#suggestions-auto-com .autotype_facebook_img {
	background-image: url("../images/autocomplete/facebook_hover.png");
	background-repeat: no-repeat;
	position: absolute !important;
	width: 14px;
	height: 14px;
	float: left;
	right: -10px !important;
	top: 5px !important;
}

ul.autocomplete_ul {
	clear: both;
	cursor: text;
	height: 100% !important;
	margin: 0;
	overflow: hidden;
	padding: 0;
	height: 18px;
	z-index: 999;
	background-color: #fff;
	list-style-type: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
	-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
	-ms-transition: border linear 0.2s, box-shadow linear 0.2s;
	-o-transition: border linear 0.2s, box-shadow linear 0.2s;
	transition: border linear 0.2s, box-shadow linear 0.2s;
	-webkit-border-radius: 3px
}

ul.autocomplete_ul_focus {
	border-color: rgba(82, 168, 236, 0.8);
	outline: 0;
	outline: thin dotted \9;
	/* IE6-9 */
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px
		rgba(82, 168, 236, 0.6);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px
		rgba(82, 168, 236, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px
		rgba(82, 168, 236, 0.6);
}

li.autocomplete_li {
	float: left;
	position: relative;
}

li.autocomplete_li_sug {
	clear: both;
	float:left;
	/*position: absolute;
	z-index: 999;*/
}

.shortbox li.autocomplete_li_sug {
	top: 27px;
}

.longbox li.autocomplete_li_sug {
	top: 33px;
}

li.autocomplete_li_selected {
	background-color: #EFF2F7;
	border: 1px solid #CCD5E4;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: black;
	cursor: default;
	font-size: 11px;
	margin: 3px;
	overflow: hidden;
	padding: 1px 3px;
	white-space: nowrap;
	float: left;
	overflow: hidden;
}

li.autocomplete_li_selected_active {
	background-color: #5670A6;
	border: 1px solid #3B5998;
	color: white;
}

li.autocomplete_li_selected p {
	text-shadow: none;
	color: #000;
	font-size: 12px;
	margin: 2px;
}

li.autocomplete_li_selected_active p {
	color: white !important;
}

li.autocomplete_li_selected span {
	margin-left: 5px;
	color: #A6B3CF;
	cursor: pointer;
}
li.autocomplete_li_selected span.text {
	margin-left: 0px;
	color: black;
}

li.autocomplete_box_li {
	float: left;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul.autocomplete_li li input {
	background-color: white;
	border: 0 none;
	margin: 2px 0;
	padding: 3px 8px;
}

ul.autocomplete_li li input.multiselect {
	width: 100px;
}

ul.autocomplete_ul input {
	border: none !important;
	box-shadow: none !important;
	-moz-transition: none;
	padding: 0px !important;
	margin: 1px 0 0 !important;
	line-height: 29px;
	outline: none !important;
}

.shortbox input {
	height: 23px !important;
	line-height: 23px !important;
}

.longbox input {
	height: 29px !important;
}

.autocomplete_li input {
	color: #bebebe;
}

#fb_data_box {
	width: 100%;
	height: 100%;
	display: block;
	background-color: white;
	display: block;
}

#fb_data_box #loading {
	padding-top: 25px;
	vertical-align: middle;
	text-align: center;
}

.heading {
	text-align: center;
}

.fb_page_left {
	width: 377px;
	float: left;
	margin-left: 30px;
	border-right: 1px solid #DEDEDE;
}

.fb_page_left .data_box {
	width: 340px;
}

.fb_place_right {
	width: 350px;
	float: left;
	margin-left: 30px;
}

.fb_place_right .data_box .content {
	width: 240px;
}

.fb_bottom {
	clear: both;
	width: 100%;
	padding-top: 20px;
	text-align: center;
	padding-bottom: 20px;
}

.data_box {
	width: 330px;
	clear: both;
	border: 1px solid #ff940a;
	margin-top: 10px;
	overflow: hidden;
	cursor: pointer;
}

.data_box:hover,.data_box_selected {
	border-right: 5px solid #ff940a;
}

.data_box .img {
	float: left;
	padding: 5px;
}

.data_box .name {
	font-size: 14px;
	font-weight: bold;
}

.data_box .content {
	float: left;
	padding: 5px;
	font-size: 11px;
	line-height: 14px;
	padding-bottom: 0px;
	width: 250px;
}

.data_box_small {
	clear: both;
	width: 240px;
}

.data_box .link {
	clear: both;
	padding-left: 5px;
	overflow: hidden;
	padding-left: 5px;
	height: 18px;
}

.data_box .name {
	font-size: 14px;
	font-weight: bold;
}

.data_box span {
	font-weight: bold;
}

.data_box_small div {
	float: left;
	padding-right: 5px;
}

#fb_data_loading {
	background-color: white;
	height: 100%;
	text-align: center;
	width: 100%;
}